{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block head %}
{% endblock %}
{% block body%}

<div class="container-fluid" margin=0px style="background:url(static/matt-collamer-8UG90AYPDW4-unsplash.jpeg)" id="index-image">
	<div class="row">
		<div class="col-md-12">
        <div class="row row-height">
          <div class="col-md-4 left" style="color: white; background-color: rgba(0,0,0,.6)">
          </br></br>
            <h3>Welcome</h3>
              
          </br></br>
            <H4>About</H4>
            deDomiciled Data explores the data that affects the number of unhoused people in the United States.</br></br>
            
            <H4><a href="/map" style="color: white">The Map</a></H4>
            Watch the unhoused population change over time with our map, created using available Point in Time 
            counts of unhoused people from the US Department of Housing and Urban Development (HUD) and the 
            geoAlbers function of the d3 JavaScript library.
            </br></br>
            
            <H4><a href="/state/Alabama" style="color: white">The Chart</a></H4>
            Explore how changes in population, poverty and availability of low income housing affect the 
            unhoused population using our chart created with US Census Bureau and HUD data.
            </br></br>
            
            <H4>The Future</H4>
            In the future we hope to explore other factors that contribute to houselessness, like 
            investment in mental health services. It would also be interesting to zoom in on smaller 
            geographic areas</br></br>
            
            <H4>Thank You</H4>
            Thank you for your attention. I hope this visualization helps increase interest in the crisis of 
            houselessness in the United States.
          </div>
          <div class="col-md-8">
				</div>
			</div>
      
		</div>
	</div>
</div>
    
  
    
<h6>Photo by <a href="https://unsplash.com/@breakyourboundaries4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Matt Collamer</a> on <a href="https://unsplash.com/s/photos/homelessness?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></h4>
{%endblock%}

</html>