{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block head %}

<style>

path:hover {
	fill-opacity: .7;
	}

/* Style for Custom Tooltip */
div.tooltip {   
 	position: absolute;           
	text-align: center;           
	width: 90px;                  
	height: 28px;                 
	padding: 2px;             
	font: 12px sans-serif;        
	background: rgb(49, 60, 75);
	color: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
        
/* Legend Font Style */
body {
	font: 11px sans-serif;
}
        
/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}
div.displayYear{
	position: absolute;
	font: 30px sans-serif;
    padding: 20px;
    margin: 20px;
    color: "#2a4858";
    font-weight: bold;
    display: inline-block;
}
#restart{
	position: absolute;
	display: block;
	border: none;
	padding: 20px;
    margin: 20px;
	font-size: 20px;
}
h1.map-title{
	color: "#2a4858";
	text-align: center;
}
</style>


{% endblock %}
{% block body%}

	<h1 class="map-title">Change in Unhoused Population Over Time</h1>
	
<script src = "/static/section1.js"></script>

{%endblock%}
