{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block body%}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <script src="/static/section1.js"></script>
        </div>
        <div class="col-md-4" id="map-page">

            <h4 class="map-title">Change in Unhoused Population Over Time</h4>
            </br>
            Watch how the map changes through the years.
            <br><br>
            Some states get better some states get worse.
            <br><br>
            Hovering over the states reveals the number of unhoused people per 100,000 in the displayed year.
            You can also click a state to go directly to the chart visualization for that state.
            <br><br>
            One state is stands out for making a steady climb from the bottom to the top. Can you spot it?
            <br><br>
            The state is Lousiana, and this is due to an initiative which began in 2011 and cut their unhoused
            population by 80% by 2018.




        </div>
    </div>
</div>




{%endblock%}