{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block body%}

<h1 class="map-title">Change in Unhoused Population Over Time</h1>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
		</div>
		<div class="col-md-4">
            Using available Point in Time counts of unhoused people from the US Department of Housing and Urban Development, I created this map.
                As we progress from 2011 to 2019 you can see how some states improve and some states get worse.
                You can hover over the states to see the exact numbers of unhoused people per 100,000 residents.
                Pay attention to Lousiana. They went from having one of the counts per 100,000 after Hurricaine Katrina to one of the lowest.
                This is because in 2011 they implemented the Housing First approach. By 2019 they had cut their number of unhoused people by more than 80%
		</div>
	</div>
</div>

	
<script src = "/static/section1.js"></script>

{%endblock%}
