<!DOCTYPE html>
<html>
<head>
  <title>Scrolling Sections</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="container">
  <div id='graphic'>
    <div id='sections'>
      <section class="step">
        <div class="title">The deDomiciled Project</div>
        Welcome to the deDomiciled Project<br/><br/>An exploration of data regarding unhoused citizens.
      </section>
      <section class="step">
        <div class="title">About</div>
        The original idea of this project was to explore the changes in the number of unhoused people in each state over time.<br/><br/>
      </section>
      <section class="step">
        <div class="title">The Map</div>
        Using available Point in Time counts of unhoused people, I created this map.<br/>
        As we progress from 2011 to 2019 you can see how some states improve and some states get worse.<br/>
        You can hover over the states to see the exact numbers of unhoused people per 100,000 residents.<br/>
        Pay attention to Lousiana. They went from having one of the counts per 100,000 after Hurricaine Katrina to one of the lowest.<br/>
        This is because in 2011 they implemented the Housing First approach. By 2019 they had cut their number of unhoused people by more than 80%
      </section>
      <section class="step">
        <div class="title">The Chart</div>
        After creating the map I wanted to look at how different factors interacted with houselessness.
        With this chart you can choose a state and the type of data you want to look at.
        With the percent change over time feature you can see that in states where availability of low-cost housing was falling faster than poverty houselessness increases.
            <p>Choose a state:
              <select name="states" id="state-selector" onchange="renderChart()">
                {% for state in states %}
                <option>{{ state }} </option>
                {% endfor %}
              </select>
            </p>
              <p>Change data:
                <select id="selectbox">
                  <option value="Households Below Poverty">Households Below Poverty</option>
                    <option value="Unhoused Population">Unhoused Population</option>
                    <option value="Available Low Income Housing">Low Income Housing Available</option>
                  <option value="Total Population">Total Population</option>
                  <option value="percent_change"> Percent Change: Below Poverty, Unhoused, Low Income Housing, Population</option>
                </select>
                </p>
                <svg id="chart" width="950" height="410"></svg>
      </section>
      <section class="step">
        <div class="title">The Future</div>
        In the future I would like to explore other factors that contribute to houselessness, like investment in mental health services.<br/>
        This data was not available at the current time, but I hope to be able to obtain this for a future release.<br/>
        It would also be interesting to zoom in on smaller geographic areas, but it was difficult due to inconsistent partitioning of geographic areas across data sources.
      </section>
      <section class="step">
        <div class="title">Thank you</div>
        Thank you for your interest in my project. I hope this visualization helped increase your interest in the crisis of houselessness.
      </section>
    </div>
    <div id='vis'>
    </div>
    <div id="extra-space">
    </div>
  </div>
</div>


<script src="lib/d3.js"></script>
<script src="js/scroller.js"></script>
<script src="js/sections.js"></script>
</body>
</html>