{% extends 'base.html' %}

{% block title %}State: {{ state }}{% endblock %}

{% block head %}

<style>
body {
    margin:auto;	
    width: 885px;
    font: 10px arial;
    padding: 25px;
    font-size: 11px;

}</style>
{% endblock %}

{% block body %}
<h1 id = "load-state" value = "{{state}}">State: {{ state }}</h1>
<p>Change state:
<select id = "state-selector">
	{% for state in states %}
	<option value = "{{state}}">{{ state }}</option>
	{% endfor %}
</select>
</p>
<p>Change data:
<select id="selectbox">
	<option value="Households Below Poverty">Households Below Poverty</option>
    <option value="Unhoused Population">Unhoused Population</option>
    <option value="Available Low Income Housing">Low Income Housing Available</option>
	<option value="Total Population">Total Population</option>
	<option value="percent_change"> Percent Change: Below Poverty, Unhoused, Low Income Housing, Population</option>
</select>
</p>
<svg id="chart" width="950" height="410"></svg>

<script src = "/static/section2.js"></script>

{% endblock %}