{% extends 'base.html' %}

{% block title %}State: {{ state }}{% endblock %}

{% block head %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<style>

    body {
        margin:auto;	
        width: 885px;
        font: 10px arial;
        padding: 25px;
        font-size: 11px;

    }
    .y-axis line {
        opacity:.2;
    }
    .y-axis path {
        display:none;
    }
    .line {
        fill: none;
        stroke-width: 1.5px;
        opacity:.75;
    }
    .overlay {
        fill: none;
        pointer-events: all;
    }
    .lineHoverText {
        text-shadow:
        -2px -2px 0 #fff,
        2px -2px 0 #fff,
        -2px 2px 0 #fff,
        2px 2px 0 #fff;
    }
    .hoverCircle {
        opacity: .75;
    }
    
    </style>
{% endblock %}

{% block body %}
<h1>State: {{ state }}</h1>

<p>Change data:
<select id="selectbox">
	<option value="Households Below Poverty">Households Below Poverty</option>
    <option value="Unhoused Population">Unhoused Population</option>
    <option value="Available Low Income Housing">Low Income Housing Available</option>
	<option value="Total Population">Total Population</option>
	<option value="percent_change"> Percent Change: Below Poverty, Unhoused, Low Income Housing, Population</option>
</select>
</p>
<svg id="chart" width="950" height="410"></svg>

<script src = "/static/section2.js"></script>

{% endblock %}